<h1>Log in</h1>

<%= form_tag sessions_path, :class => "form col-xs-8" do %>
  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, nil, :placeholder => "Enter your email", :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, :placeholder => "Enter your password", :class => "form-control" %>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
<% end %>
