<div class='sort-row row col-xs-8'>
  Sort by:
  <div class='btn-group' role='group'>
    <%= sortable 'title' %></button>
    <%= sortable 'created_on', 'Date' %></button>
    <%= sortable 'upvotes' %></button>
    <%= sortable 'downvotes' %></button>
  </div>
</div>
