<h1>All Movies</h1>

<%= render 'movies/sort' %>

<%= link_to 'New Movie', new_movie_path,
  { class: 'btn btn-primary', role: 'button' } %>

<br><br>
<ul class='media-list col-xs-8'>
<% @movies.zip(@posters).each do |movie, poster| %>
  <li class='media'>
    <div class='media-body'>

      <h4 class='media-heading'><%= movie.title %></h4>
      <h5>Posted by <%= link_to poster.username, user_path(poster.id) %>,
      <%= time_passed(movie.created_on) %> ago</h5>
      <%= movie.description %>
      <br><br>

      upvotes: <span class='badge bdg-upvote'><%= movie.upvotes %></span> |
      downvotes: <span class='badge bdg-downvote'><%= movie.downvotes %></span>
      <br>

      <% unless session[:user_id].nil? %>
        <% if movie.user_id == current_user.id %>
          Bummer! Can’t vote on movies you ’ve submitted.
        <% else %>
          <% if upvoted? movie.id %>
            You ’ve upvoted this movie! Maybe
            <%= link_to :downvote,
              changevote_path(movie_id: movie.id, category: :down) %>
              or <%= link_to :retract, retract_path(movie_id: movie.id) %> instead?
          <% elsif downvoted? movie.id %>
            You ’ve downvoted this movie! Maybe
            <%= link_to :upvote,
              changevote_path(movie_id: movie.id, category: :up) %>
              or <%= link_to :retract, retract_path(movie_id: movie.id) %> instead?
          <% else %>
            <%= link_to :upvote, upvote_path(movie_id: movie.id) %> or
            <%= link_to :downvote, downvote_path(movie_id: movie.id) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <br>
  </li>
<% end %>
</ul>
