<h1>New Movie</h1>

<%= form_for @movie, :html => { :class => 'form col-xs-8' } do |f| %>
  <% if @movie.errors.any? %>
    <div class="error_messages">
    <% for message in @movie.errors.full_messages %>
      <div class="alert alert-danger" role="alert"><strong>Oh snap! </strong><%= message %></div>
    <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: "Enter movie title" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control", placeholder: "Enter movie description" %>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Create Movie</button>
  </div>
<% end %>
