<h1>Show Movie</h1>

<%= form_for @movie, :html => { :class => 'form col-xs-8' } do |f| %>
  <% if @movie.errors.any? %>
    <div class="error_messages">
    <% for message in @movie.errors.full_messages %>
      <div class="alert alert-danger" role="alert"><strong>Oh snap! </strong><%= message %></div>
    <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= @movie.title %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= @movie.description %>
  </div>
  <div class="form-group">
    <%= f.label :posted_by %>
    <%= @poster %>
  </div>
  <div class="form-group">
    <%= f.label :publication_date %>
    <%= @movie.created_on %>
  </div>
<% end %>
