<h1>Sign Up</h1>

<%= form_for @user, :html => { :class => 'form col-xs-8' } do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
    <% for message in @user.errors.full_messages %>
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Oh snap! </strong><%= message %>
        </div>
    <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", placeholder: "Enter your e-mail" %>
  </div>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control", placeholder: "Enter your username" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "Enter your password" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password" %>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
<% end %>
